# Python virtual environments
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Unit test cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and output
*.log

# Docker
*.pid
